<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <!--%style{需要加颜色的信息}{写颜色} bright是比较浅的颜色   %highlight{需要使用系统默认颜色的信息}  -->
        <!--在idea需要在项目配置jvm参数:-Dlog4j.skipJansi=false        %style{%m}{bright,Magenta}  %style{%throwable}{red}-->
        <Property name="log.pattern">%style{%d{yyyy-MM-dd HH:mm:ss,SSS}}{bright,white} %highlight{%-5level} [%style{%t}{bright,blue}] [%style{%c{5.}}{bright,yellow}:%L %style{%M}{bright,Magenta}] %msg%n%style{%throwable}{red}</Property>
        <!--不带代码行号输出日志，提高运行效率        -->
        <Property name="log.pattern.noLine">%style{%d{yyyy-MM-dd HH:mm:ss,SSS}}{bright,white} %highlight{%-5level} [%style{%t}{bright,blue}] [%style{%c{5.}}{bright,yellow}] %msg%n%style{%throwable}{red}</Property>
        <!--带行号，不带颜色的格式，用于日志文件输出，防止格式乱码        -->
        <Property name="log.pattern.noColor">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level [%t] [%c{5.}:%L %M] %msg%n%throwable</Property>
        <!--日志存放目录        -->
        <Property name="log.path">./log</Property>
        <!--日志编码格式        -->
        <Property name="log.charset">UTF-8</Property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="${log.charset}" pattern="${log.pattern}"/>
        </Console>

        <!--append="false" :根据其下日志策略,每次清空文件重新输入日志,用于测试-->
        <File name="TestLogFile" fileName="${log.path}/test.log" append="false">
            <PatternLayout  charset="${log.charset}" pattern="${log.pattern.noColor}"/>
        </File>

        <!--输出sql日志文件        -->
        <File name="TestSqlFile" fileName="${log.path}/sql.log" append="false">
            <PatternLayout  charset="${log.charset}" pattern="${log.pattern.noColor}"/>
        </File>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="TestLogFile"/>
        </root>

        <Logger name="com.bx" level="INFO" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="TestLogFile"/>
        </Logger>

        <!--监控sql日志输出 -->
        <!--AsyncLogger打印异步日志    提高业务执行效率-->
        <AsyncLogger name="jdbc.sqlonly" level="INFO" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="TestSqlFile"/>
        </AsyncLogger>

        <logger name="jdbc.resultset" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>

        <!--  如想看到表格数据，将OFF改为INFO  -->
        <logger name="jdbc.resultsettable" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>

        <logger name="jdbc.connection" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>

        <logger name="jdbc.sqltiming" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>

        <logger name="jdbc.audit" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>
    </loggers>
</configuration>
